@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700');

body {
  background: #2e3133;
  
}
.active {
  color: rgb(231, 215, 215);
}
#document-section {
  min-height: 500px;
}
#team-section {
  border-bottom: 1px rgb(220, 230, 229) solid;
}
a {
  cursor: pointer;
}
li > p {
  color: rgb(216, 188, 188);
}
.container-fluid {
  width: 50%;
}
section {
  margin-bottom: 150px;
}
footer{
  border-top: 2px solid black;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  line-height: 50px;
  text-align: center;
  width: 100%;
  display: block;
  width: 100%;
}
.background-image {
  background:  url(https://imgupload.pl/images/2020/12/19/background.jpg) no-repeat center center fixed;  /*source: https://www.pexels.com/photo/pawns-on-a-chess-board-4576320/ */
  -webkit-background-size: cover;
  opacity: 0.9;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p {
  margin-top: 50px;
}
.overlay {
  opacity: 1;
  position: fixed;
  color: red;
  background: rgb(8, 8, 8);
  left: 0; top: 0; height: 100%; width: 100%;
  z-index: -2137;
}
.transition-default {
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
article {
  margin-bottom: 50px;
}
.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0px 30px;
}
.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
}
.tp-banner {
  width: 100%;
  position: relative;
}
.tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0;
}
.navbar-default {
  background: rgba(0, 0, 0, 0.568);
  border: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin: 0;
  padding: 0 30px;
}
.navbar-default a.button-two {
  float: right;
  margin-top: 15px;
  margin-left: 30px;
  padding: 9px 28px;
}
header.fullwidth .navbar-default {
  border-bottom: 1px solid #b4abe6;
}
header.fullwidth.white-header .navbar-default {
  border-bottom: none;
}
header.fullwidth.light-style .navbar-default {
  border-bottom: 1px solid rgba(0, 0, 0, 0.404);
}
.navbar-header {
  position: relative;
  z-index: 2;
}
.navbar-brand {
  height: auto;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 25px 15px;
  letter-spacing: 2.5px;
}
.navbar-nav {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.navbar-nav > li > a {
  color: #e2dcdc !important;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 28px 15px 27px;
  position: relative;
  cursor: pointer;
}

.navbar-nav > li > a i {
  font-size: 22px;
  margin-right: 10px;
  display: inline-block;
}
.navbar-nav > li > a:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 10px;
  right: 10px;
  height: 2px;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.navbar-nav > li > a:hover:before {
  opacity: 1 !important;
  visibility: visible !important;
}
header.active .navbar {
  background: #000000dc;
}
header.fullwidth.white-header.active .navbar {
  background: #ffffff;
  border-bottom: 1px solid #f3f3f3;
}
header.fullwidth.white-header.active .navbar-nav {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
header.fullwidth.white-header.active .navbar-nav > li > a {
  color: #666666 !important;
}
header.fullwidth.white-header.active .navbar-nav > li > a:before {
  background: #666666;
}
header.fullwidth.white-header.active a.button-two {
  border-color: #6633cc;
  color: #6633cc;
}
header.light-style .navbar {
  background: #ffffff;
  border-bottom: 1px solid #f3f3f3;
}
header.light-style .navbar-nav {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
header.light-style .navbar-nav > li > a {
  color: #666666 !important;
}
header.light-style .navbar-nav > li > a:hover {
  color: #6633cc !important;
}
header.light-style .navbar-nav > li > a:before {
  background: #6633cc;
}
header.light-style a.button-two {
  border-color: #6633cc;
  color: #6633cc;
}
.navbar-collapse {
  position: relative;
}
li.drop {
  position: relative;
}
ul.dropdown {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 230px;
  margin-top: 10px;
  left: 0px;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
ul.dropdown li {
  display: block;
  border-top: 1px solid #ebecf0;
}
ul.dropdown li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 12px 20px;
  color: #888888;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
ul.dropdown li a i {
  font-size: 10px;
  display: inline-block;
  margin-right: 16px;
  margin-top: 6px;
}
ul.dropdown li a:hover {
  color: #371b6e;
}
li.drop:hover ul.dropdown {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}
p {
  font-size: 18px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
}
h1 {
  color: #333333;
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0 0 20px;
}
h2 {
  color: #cac9c9;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0 0 10px;
  line-height: 20px;
  text-align: center;
}
a.button-one {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  background: #00b9ff;
  color: #fff;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  border: 1px solid #00b9ff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  padding: 10px 27px;
}
a.button-one:hover {
  color: #fff;
  background-color: #00aeff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
a.button-two {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #fff;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  padding: 10px 28px;
  margin: 0;
  background-color: transparent;
  border: 1px solid #fff;
}
a.button-two:hover {
  background-color: #fff;
  color: #6633cc;
}
#container {
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#container.active {
  opacity: 1;
}
.title-section {
  text-align: center;
  margin-bottom: 60px;
}
.title-section span {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0 0 10px;
}
.title-section h1 {
  color: #333333;
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0 0 20px;
}
.title-section p {
  color: #666;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  text-align: justify;
}
.title-section.white span {
  color: #fff;
}
.title-section.white h1 {
  color: #ffffff;
}
.title-section.white p {
  color: #ccc;
}
#home-section .tp-caption.small_text {
  position: absolute;
  font-size: 36px;
  text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-weight: 400;
  line-height: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
  text-align: center;
}
#home-section .tp-caption.small_text a.button-one {
  padding: 14px 28px;
  letter-spacing: 0 !important;
}
#home-section .tp-caption.small_text.black-border {
  color: #fff;
  font-size: 36px;
  text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
#home-section .tp-caption.finewide_medium_white {
  color: #FFF;
  text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-size: 90px;
  line-height: 70px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: none;
  text-decoration: none;
  text-transform: initial;
  border-width: 0px;
  border-color: transparent;
  border-style: none;
  letter-spacing: -0.5px;
  text-align: left;
}
#home-section .tp-caption.finewide_medium_black {
  color: #000000;
  text-shadow: 
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
  font-size: 90px;
  line-height: 70px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: none;
  text-decoration: none;
  text-transform: initial;
  border-width: 0px;
  border-color: transparent;
  border-style: none;
  letter-spacing: -0.5px;
  text-align: left;
}
#home-section .tp-caption.finewide_medium_white span {
  color: #00b9ff !important;
}
#home-section .tp-caption.finewide_medium_white.black-col {
  color: #333333;
}
#home-section .tp-caption.mediumlarge_light_white_center {
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}
#home-section .tp-bannertimer {
  display: none !important;
}
#home-section .slotholder:after {
  background: rgba(34, 34, 34, 0);
}
#home-section .tp-bullets.simplebullets.round .bullet {
  background: transparent;
  border: 1px solid #fff;
  opacity: 1;
  width: 9px;
  height: 9px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#home-section .tp-bullets.simplebullets.round .bullet:hover,
#home-section .tp-bullets.simplebullets.round .bullet.selected {
  background: #fff;
  border-color: transparent;
  opacity: 1;
}
#home-section a.txt-btn {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin-left: 20px;
}
#home-section a.txt-btn i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding-left: 4px;
  border: 1px dashed #f1f1f1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-right: 16px;
}
#home-section a.txt-btn:hover {
  color: #00b9ff;
}
section#home-section {
  z-index: 2;
  position: relative;
}
section#home-section .top-block {
  text-align: center;
  padding: 165px 0 0;
  background: #333333 url('images/k1.jpg') center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
}
section#home-section .top-block .container {
  position: relative;
  z-index: 2;
}
section#home-section .top-block h1 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 15px;
}
section#home-section .top-block h2 {
  color: #fff;
  margin-bottom: 30px !important;
}
section#home-section .top-block a {
  margin-bottom: 30px;
}
section#home-section .top-block p {
  margin-bottom: 20px;
  color: #fff;
}
section#home-section .top-block p a {
  color: #00b9ff;
  text-decoration: underline;
}
section#home-section .top-block img {
  max-width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
}
section#home-section div.top-block2 {
  padding: 210px 0 0;
  position: relative;
}
section#home-section div.top-block2 p {
  margin-bottom: 20px;
}
section#home-section div.top-block2 h2 {
  margin-bottom: 24px;
  color: #999999;
}
section#home-section div.top-block2 a.button-one {
  margin-right: 20px;
  padding-left: 36px;
  padding-right: 36px;
}
section#home-section div.top-block2 a.btn-txt {
  color: #6633cc;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
section#home-section div.top-block2 a.btn-txt i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding-left: 4px;
  border: 1px dashed #dcd7e4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-right: 16px;
}
section#home-section div.top-block2 .clients-box {
  padding-top: 100px;
}
section#home-section div.top-block2 .clients-box span {
  display: inline-block;
  font-size: 18px;
  color: #888888;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
  font-size: 16px;
  margin-bottom: 20px;
}
section#home-section div.top-block2 .clients-box ul.client-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
section#home-section div.top-block2 .clients-box ul.client-list li {
  display: inline-block;
  padding-right: 20px;
}
section#home-section div.top-block2 .clients-box ul.client-list li img {
  max-height: 16px;
  width: auto;
}
section#home-section div.top-block2 .clients-box ul.client-list li:first-child img {
  max-height: 20px;
}
section#home-section div.top-block2 .top-block-image {
  margin-top: -100px;
}
section#home-section div.top-block2 .image-rounded {
  position: absolute;
  width: 70%;
  height: 800px;
  right: -15%;
  top: -300px;
  background: url('images/k1.jpg') right bottom;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-border-top-left-radius: 400px;
  -moz-border-top-left-radius: 400px;
  -o-border-top-left-radius: 400px;
  border-top-left-radius: 400px;
  -webkit-border-bottom-left-radius: 400px;
  -moz-border-bottom-left-radius: 400px;
  -o-border-bottom-left-radius: 400px;
  border-bottom-left-radius: 400px;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
  z-index: -1;
}
section#home-section div.top-block2 .image-rounded:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -30px;
  left: -50px;
  border: 1px solid #ebe9ee;
  -webkit-border-top-left-radius: 400px;
  -moz-border-top-left-radius: 400px;
  -o-border-top-left-radius: 400px;
  border-top-left-radius: 400px;
  -webkit-border-bottom-left-radius: 400px;
  -moz-border-bottom-left-radius: 400px;
  -o-border-bottom-left-radius: 400px;
  border-bottom-left-radius: 400px;
}
section.client-list-section {
  margin-top: -180px;
  text-align: center;
  padding-bottom: 50px;
  position: relative;
  z-index: 2;
}
section.client-list-section p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
}
section.client-list-section .client-list-box {
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
section.client-list-section ul.client-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
section.client-list-section ul.client-list li {
  display: inline-block;
  width: 20%;
  padding: 0 10px;
}
section.client-list-section ul.client-list li img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1400px) {
  section#home-section div.top-block2 .image-rounded {
    width: 80%;
  }
  section#home-section div.top-block2 .top-block-image img {
    max-width: 100%;
    height: auto;
  }
  section#features-section3 .image-rounded {
    width: 60%;
    left: -30%;
  }
  section#overview-section .intro-block .content-holder {
    padding: 0 50px;
  }
}
@media (max-width: 1199px) {
  #home-section .tp-caption.small_text {
    font-size: 20px;
    line-height: 26px;
  }
  section#features-section .about-box .posts-box {
    margin-top: -30px;
    margin-bottom: 30px;
  }
  section#features-section3 .image-holder {
    margin-left: -1px;
    margin-right: -30px;
  }
  section#features-section3 .image-rounded {
    bottom: 100px;
  }
  section.blog-page-section .news-box.iso-call .news-post {
    width: 323px;
  }
  section#home-section div.top-block2 .image-rounded {
    width: 90%;
  }
  section#home-section div.top-block2 a.button-one {
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  section#home-section div.top-block2 a.btn-txt i {
    margin-right: 5px;
  }
  div.about-app-section.third-style .image-holder {
    margin-top: 0;
  }
  div.about-app-section.third-style .image-holder img.snd-img {
    top: 130px;
    left: 30px;
  }
  section#screenshots-section.bottom-negative .border-rounded {
    width: 1400px;
    right: -1000px;
  }
  section#video-section.white-background2 .border-rounded,
  section#news-section .border-rounded {
    width: 1200px;
    left: -800px;
  }
  section#overview-section .intro-block .content-holder {
    padding: 0 30px;
  }
  section#overview-section .intro-block .content-holder h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  section#overview-section .intro-block .content-holder p {
    margin-bottom: 10px;
  }
  section#features-section4 {
    margin: 0;
  }
}
@media (max-width: 991px) {
  .navbar-nav > li > a {
    font-size: 16px;
    padding-left: 9px !important;
    padding-right: 9px !important;
  }
  .navbar-default {
    padding: 0;
  }
  .navbar-default a.button-two {
    margin-left: 15px;
    padding: 10px 15px;
    font-size: 16px;
  }
  #home-section .tp-caption.small_text {
    font-size: 22px;
    line-height: 28px;
  }
  section#home-section div.top-block2 .image-rounded {
    top: -50%;
    width: 100%;
  }
  section#home-section div.top-block2 .clients-box {
    padding-top: 40px;
  }
  section#home-section div.top-block2 .top-block-image {
    margin-top: -40px;
  }
  section#home-section div.top-block2 a.button-one {
    margin-right: 20px;
  }
  section#features-section .about-box .posts-box {
    padding: 0 !important;
    margin: 0;
  }
  section#features-section .about-box .posts-box .about-post {
    overflow: hidden;
    max-width: 260px;
    margin: 0 auto 40px;
  }
  section#features-section {
    padding-bottom: 60px;
  }
  section#features-section .about-box .image-holder {
    margin: 0 0 30px;
  }
  section#features-section .about-box .image-holder img {
    margin: 0;
  }
  section#features-section3 .image-holder {
    margin-left: 0;
    margin-right: 0px;
    padding-top: 0;
  }
  section#features-section3 .image-rounded,
  section.testimonial-section.second-style .image-rounded {
    display: none;
  }
  section#features-section3,
  div.about-app-section.third-style {
    border-top: 1px solid #f1f1f1;
  }
  section#home-section .top-block h1 {
    font-size: 50px;
  }
  div.about-app-section2.second-style .image-holder {
    margin: 0 0 -80px;
  }
  section.blog-page-section .news-box.iso-call .news-post {
    width: 375px;
  }
  div.about-app-section.third-style .image-holder {
    margin-top: 60px;
  }
  div.about-app-section.third-style .image-holder img {
    max-width: 430px;
    margin: 0 auto;
    display: block;
  }
  div.about-app-section.third-style .image-holder img.snd-img {
    position: relative;
    top: initial;
    left: initial;
  }
}
@media (max-width: 767px) {
  .navbar-brand {
    padding: 16px 15px 17px;
  }
  .navbar-nav > li > a {
    padding: 5px 15px !important;
  }
  header.white-header .navbar-nav > li > a {
    color: #666666 !important;
  }
  header .navbar-nav > li > a:before {
    display: none;
  }
  header a.button-two {
    display: none;
  }
  .navbar-toggle {
    margin-top: 12px;
  }
  .navbar-collapse {
    max-height: 340px;
    overflow-y: scroll;
    background: #6633cc;
  }
  ul.dropdown {
    position: relative;
    top: initial;
    width: 100%;
    margin-top: 0px;
    left: initial;
    background: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    opacity: 1;
    visibility: visible;
  }
  ul.dropdown li {
    border-top: none;
  }
  ul.dropdown li a {
    padding: 5px 15px;
    color: #fff;
  }
  ul.dropdown li a i {
    margin-right: 5px;
  }
  ul.dropdown li a:hover {
    color: #fff;
    opacity: 0.7;
  }
  header.white-header ul.dropdown li a,
  header.light-style ul.dropdown li a {
    color: #666;
  }
  header.light-style .navbar-collapse,
  header.white-header .navbar-collapse {
    background: #fff;
  }
  section#video-section .video-app-box iframe {
    height: 370px;
  }
  .tp-leftarrow.default,
  .tp-rightarrow.default {
    display: none;
  }
  #home-section .button-two,
  #home-section .button-one,
  #home-section a.txt-btn {
    display: none;
  }
  section#home-section div.top-block2 {
    padding-top: 100px;
  }
  section#home-section div.top-block2 a.button-one {
    display: inline-block;
  }
  section#home-section div.top-block2 .image-rounded {
    width: 50%;
    top: -200px;
    height: 400px;
  }
  div.about-app-section .content-holder .posts-box .about-post {
    max-width: 400px;
  }
  section#home-section .top-block:after {
    display: none;
  }
  section#home-section .top-block h1 {
    font-size: 40px;
  }
  section#home-section .top-block h2 {
    line-height: 32px;
  }
  section#features-section2 ul.client-list li {
    width: 33.3333%;
    margin-bottom: 30px;
  }
  div.about-app-section.second-style .image-holder {
    margin: 0;
  }
  section.app-available-section.second-style .app-available-box ul.app-available-list {
    display: block;
  }
  section.app-available-section.second-style .app-available-box ul.app-available-list li {
    margin-bottom: 30px;
  }
  ul.nav-tabs li span {
    display: none;
  }
  section#overview-section {
    padding: 100px 15px;
  }
}
@media (max-width: 600px) {
  #home-section .tp-caption.small_text {
    font-size: 24px;
    line-height: 32px;
  }
  #home-section .tp-caption.finewide_medium_white {
    font-size: 46px;
  }
  section#home-section div.top-block2 .top-block-image {
    margin-top: 0px;
  }
  section#features-section2 ul.client-list li {
    width: 50%;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 36px;
  }
}
@media (max-width: 500px) {
  #home-section .tp-caption.small_text {
    font-size: 20px;
    line-height: 32px;
  }
  section#home-section .top-block h1 {
    font-size: 32px;
  }
  div.about-app-section.third-style .image-holder img {
    max-width: 100%;
  }
}
@media (max-width: 430px) {
  section#home-section div.top-block2 a.button-one {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}

/* Timeline */ 
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
	  text-align: left;
	  color:rgb(221, 221, 221);
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #0b65cc;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
ul.timeline {
	margin-top: 50px;
}
/* Documentation */
ul.documentation {
    list-style-type: none;
    position: relative;
}

ul.documentation > li {
    margin: 20px 0;
    padding-left: 20px;
	  text-align: left;
	  color:rgb(221, 221, 221);
}

/* Main block */
.top-block-content li span {
	font-size:10px;
	text-transform: uppercase;
	letter-spacing:1px;
	font-weight: 600;
	margin-left:10px;
	color:#0b65cc;
}
.top-block-content li.featured {
	margin-bottom:15px;
}
.top-block-content ul {
	list-style: none;
    font-size: 16px;
}
section#home-section .top-block h1  {
	color: #f1c930;
}
/*Aktualnosci */
#news-section p{
	color:#333;
}
body.home .navbar-brand.white, body.page .navbar-brand {
	visibility: hidden;
	display:none;
}
body.page .navbar-brand.white {
	visibility: visible;
	display:block;
}
header.active .navbar-brand {
	visibility: hidden !important;
	display:none !important;
}
.top-block-image img{
	max-width: 700px;
}
h1 {
	color: #f1c930;
}
@media screen and (max-width:748px) {
	.top-block-content{
		margin-top:50px;
	}
}
.custom-active {
  background: #492540;
}
ul {
  list-style-type: none;
}
article {
  margin-top: 110px;
}
.team {
  width: 69%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  /* text-align: justify; */
}
.team2 {
  /* width: 69%; */
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
span {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}